form[name='form'] .docking-progress-container {
	display: table-cell;
    float: none;
    width: 100%; 
}
form[name='form'] .av-progress-bar-banner {
	position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    background: rgba(100, 118, 127, 0.67); 
    margin: 0 -9999px;
    width: 99999px;
    z-index: 10; 
}
form[name='form'] .av-docking-block {
    position:relative;    
    float: right;
}
form[name='form'] .av-progress-bar-container {
    height: 100%;
}
form[name='form'] .av-progress-bar-container > .row {
    height: 100%;  
}
form[name='form'] .av-form-heading-container {
	position: absolute;
    right: 0;
    height: 100%;
}
form[name='form'] .av-form-heading {
    padding: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
 }
form[name='form'] .av-form-heading-container .av-form-heading-single-page {
    top: 125%;
}
 form[name='form'] .av-form-heading h1 {
     position:relative;
     margin: 0;
     padding:0;
     z-index:20;
     text-align:right;
     padding-right:15px!important;
 }