form[name='form'] {
	.bs-modal-content-96022 {
		margin-top: 20px;
		max-height: 700px;
		overflow-y: auto;
	
		.wdg-section-2 {		// Section 2
		
		}

		.wdg-section-2-collapse-button {		// Section 2 collapse button
		
		}

		.wdg-collapse-button-icon {		// Collapse button icon
		
		}

		.wdg-section-2-header {		// Section 2 header
		
		}

		.wdg-section-2-title {		// Section 2 title
		
		}

		.wdg-section-2-info-text {		// Section 2 info text
		
		}

		.wdg-section-2-content {		// Section 2 content
		
		}

	}
}