/* Touch Button */
/* Buttons */
form {
  color: #333;
  background-color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
}
form > [data-widget-children] {
  background-color: #FFFFFF;
}
body.av-form {
  background-color: #FFFFFF;
}
form[name="form"] .av-popover-help .av-popover-btn i {
  color: #0C384B;
}
form[name="form"] .av-popover-help .av-popover-btn:focus i {
  color: #2a7ab0;
}
form[name="form"] .av-popover-help .av-popover-btn .popover-tooltip .content {
  border-color: #0C384B;
}
form[name="form"] .av-popover-help .av-popover-btn .popover-tooltip:not(.is-below) .arrow {
  border-top-color: #0C384B;
}
.av-dialog[class*="col-"] {
  max-width: 1020px;
}
@media (max-width: 780px) {
  .av-dialog[class*="col-"] {
    top: 5%;
    bottom: 5%;
  }
}
