form[name='form'] .av-fab-menu-container {
    position: fixed;
    z-index: 900;
    bottom: 0px;
    right: 0px;
}
form[name='form'] .av-fab-menu-container .av-fab-menu-background {
    background-color: rgba(255,255,255,0.9);
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: 1;
}
form[name='form'] .av-fab-menu-container.vertical-menu .av-fab-menu-background {
    width: 125px;
    height: 250px;
    border-top-left-radius: 25px;
}
form[name='form'] .av-fab-menu-container.vertical-menu .av-fab-menu-background.ng-enter,
form[name='form'] .av-fab-menu-container.vertical-menu .av-fab-menu-background.ng-leave.ng-leave-active {
    transition: 0.5s all ease-in-out 0.5s;
    opacity: 0;
    transform: translate(0%,100%);
}
form[name='form'] .av-fab-menu-container.vertical-menu .av-fab-menu-background.ng-leave,
form[name='form'] .av-fab-menu-container.vertical-menu .av-fab-menu-background.ng-enter.ng-enter-active {
    transition: 0.5s all ease-in-out;
    opacity: 0.8;
    transform: translate(0%,0%);
}
form[name='form'] .av-fab-menu-container.vertical-menu .id-functionalMenu {
    right: 10px;
}
@media (max-width: 1200px) {
    form[name='form'] .av-fab-menu-container.vertical-menu .id-functionalMenu {
        width: 30px;
        height: 30px;
        right: 10px;
    }
}
@media (max-width: 1200px) {
    form[name='form'] .av-fab-menu-container.vertical-menu .id-functionalMenu .wdg-button {
        padding: 0px;
    }
}
form[name='form'] .av-fab-menu-container.fab-menu .av-fab-menu-background {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    transform: translate(50%,50%);
}
form[name='form'] .av-fab-menu-container.fab-menu .av-fab-menu-background.ng-enter,
form[name='form'] .av-fab-menu-container.fab-menu .av-fab-menu-background.ng-leave.ng-leave-active {
    transition: 0.8s all ease-in-out 0.3s;
    opacity: 0;
    transform: translate(100%,100%);
}
form[name='form'] .av-fab-menu-container.fab-menu .av-fab-menu-background.ng-leave,
form[name='form'] .av-fab-menu-container.fab-menu .av-fab-menu-background.ng-enter.ng-enter-active {
    transition: 0.6s all ease-in-out;
    opacity: 0.8;
    transform: translate(50%,50%);
}
form[name='form'] .av-fab-menu-container .id-functionalMenu {
    width: 60px !important;
    height: 60px !important;
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 99999;
    float:right!important;
}
form[name='form'] .av-fab-menu-container .id-functionalMenu.ng-enter,
form[name='form'] .av-fab-menu-container .id-functionalMenu.ng-leave {
    -moz-transition: 0.5s all ease-in-out;
    -o-transition: 0.5s all ease-in-out;
    -webkit-transition: 0.5s all ease-in-out;
    transition: 0.5s all ease-in-out;
}
form[name='form'] .av-fab-menu-container .id-functionalMenu.ng-enter,
form[name='form'] .av-fab-menu-container .id-functionalMenu.ng-leave.ng-leave-active {
    transform: rotate(80deg);
}
form[name='form'] .av-fab-menu-container .id-functionalMenu.ng-leave,
form[name='form'] .av-fab-menu-container .id-functionalMenu.ng-enter.ng-enter-active {
    transform: rotate(0deg);
}
form[name='form'] .av-fab-menu-container .id-functionalMenu .wdg-button {
    width: 100% !important;
    height: 100% !important;
    padding: 10px;
}
form[name='form'] .av-fab-menu-container .id-functionalMenu .wdg-button-icon {
    font-size: 30px !important;
}
form[name='form'] .av-fab-menu-container .id-functionalMenu .wdg-button-label {
    display: none;
}
